body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #eceff1;
  margin: 0;
  padding: 0;
  color: #37474f;
  font-size: 16px;
}

h1, .section-title {
  color: #333;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.75em;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
}

li {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: #1e88e5;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 15px;
  }
  
  h1, .section-title {
    font-size: 1.5em;
  }
}

.goal-setting-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.goal-setting-form h2 {
  color: #37474f;
  margin-bottom: 1rem;
}

.goal-setting-form label {
  font-weight: bold;
  margin-bottom: .5rem;
  color: #37474f;
}

.goal-setting-form input[type="text"],
.goal-setting-form input[type="date"] {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.goal-setting-form button {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.goal-setting-form button:hover {
  background-color: #4cae4c;
}

@media (max-width: 768px) {
  .goal-setting-form {
    max-width: 90%;
    margin-top: 10px;
    padding: 15px;
  }
}

.nutrition-water-tracker {
  background: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.nutrition-water-tracker h2 {
  font-size: 1.5em;
  color: #37474f;
  margin-bottom: 1em;
}

.nutrition-water-tracker form {
  display: flex;
  flex-direction: column;
}

.nutrition-water-tracker label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #37474f;
}

.nutrition-water-tracker input[type="number"],
.nutrition-water-tracker textarea {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nutrition-water-tracker input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.nutrition-water-tracker textarea {
  height: 100px;
}

.nutrition-water-tracker button {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nutrition-water-tracker button:hover {
  background-color: #4cae4c;
}

@media (max-width: 768px) {
  .nutrition-water-tracker {
    padding: 15px;
  }
}


.video-container {
  margin: 20px 0;
  text-align: center; 
}

.custom-video {
  border: none; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
